*{
  margin: 0;
}

div {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 5px; /*margin 1top 2right 3bottom 4left*/
  border: rgb(93, 93, 93) 1px solid;
  background-color: rgb(198, 198, 198);
}

.float {
  float: left;
}

.float:nth-child(2), .float:nth-child(3), .float:nth-child(5) {
  margin-left: 10px;
  clear: left;
}

.float:nth-child(1){
  margin-left: 10px;
  margin-top: 10px;
}

.float:nth-child(2){
  width: auto;
  height: auto;
  padding: 5px;
}

.inline-block {
  display: inline-block;
}
