*{
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 1pt;
  text-align: center;
}

div {
  display: inline;
  position: relative;
  top: 20px;
  margin: 0 5px;
  padding: 10px;
}

div:nth-child(1), div:nth-child(3) {
  background-color: rgb(253, 255, 0);
}

div:nth-child(2) {
  background-color: rgb(216, 28, 75);
}
